<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color">
  <logo>
    <a class="navbar-brand" routerLink="/accueil">Nicolas Huchet</a>
  </logo>
  <links>
    <div class="navbar-nav">
      <a class="nav-item nav-link waves-light" routerLink="/accueil" routerLinkActive="active" mdbWavesEffect>Accueil</a>
      <a class="nav-item nav-link waves-light" routerLink="/exppro" routerLinkActive="active" mdbWavesEffect>Expérience pro</a>
      <a class="nav-item nav-link waves-light" routerLink="/projets" routerLinkActive="active" mdbWavesEffect>Projets</a>
      <a class="nav-item nav-link disabled waves-light" routerLink="/contact" routerLinkActive="active" mdbWavesEffect>Contact</a>
    </div>
  </links>
</mdb-navbar>

<div class="container z-depth-1" id="content">
  <router-outlet></router-outlet>
</div>
