<div class="row" id="presentation">
  <div class="col-auto">
    <img src="assets/lastskyphoenix.png" alt="Logo" id="logo">
  </div>
  <div class="col">
    <h2>{{document.infos.prenom}} {{document.infos.nom}}</h2>
    <h4>{{document.infos.poste}}</h4>
    <p>
      <span>{{document.infos.age}} ans</span> &mdash; <span>{{document.infos.ville}}</span><span *ngIf="document.infos.permis"> &mdash; Permis B</span>
    </p>
    <div id="dlinks">
      <a *ngFor="let l of document.infos.liens" class="dlink" [href]="l.url" placement="top" [ngbTooltip]="l.utilisateur">
        <img [src]="l.image" alt="Logo {{l.nom}}">
        <div>{{l.nom}}</div>
      </a>
    </div>
  </div>
  <div class="col-2" id="cv">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-success">CV</button>
      </div>
    </div>
  </div>
</div>

<div class="row categorie z-depth-1" id="bio">
  <div class="col">
    <div class="row titre">
      <div class="col">
        <h3>Bio</h3>
      </div>
    </div>
    <div class="row content">
      <div class="col">
        <p *ngFor="let p of document.infos.bio">
          {{p}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row categorie z-depth-1" id="competences">
  <div class="col">
    <div class="row titre">
      <div class="col">
        <h3>Compétences</h3>
      </div>
    </div>
    <div class="row content">

      <div class="col" *ngFor="let c of document.infos.competences">
        <h4>{{c.categorie}}</h4>
        <div class="row">
          <div class="col-auto description">
            <div *ngFor="let d of c.domaines">{{d.domaine}}</div>
          </div>
          <div class="col content">
            <div *ngFor="let d of c.domaines">
              <ng-container *ngFor="let c of d.competences; let i = index">
                <ng-container *ngIf="i > 0"> &bull; </ng-container>
                <span>{{c}}</span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row categorie z-depth-1" id="formation">
  <div class="col">
    <div class="row titre">
      <div class="col">
        <h3>Formation</h3>
      </div>
    </div>
    <div class="row content">
      <div class="col">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Formation</th>
              <th>Domaine</th>
              <th>Année.s</th>
              <th>Lieu</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of document.infos.formation">
              <td>{{f.nom}}</td>
              <td>{{f.domaine}}</td>
              <td>{{f.debut.year()}} - {{f.fin.year()}}</td>
              <td>{{f.lieu}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row categorie z-depth-1" id="centresinterets">
  <div class="col">
    <div class="row titre">
      <div class="col">
        <h3>Centres d'intérêts</h3>
      </div>
    </div>
    <div class="row content">
      <div class="col">
        <div *ngFor="let c of document.infos.ci">
          <h5>{{c.nom}}</h5>
          <div>
            <ng-container *ngFor="let cn of c.items; let i = index">
              <ng-container *ngIf="i > 0">, </ng-container>
              <span>{{cn}}</span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
