h3 {
  margin-top: .5rem;
}

/* Présentation */
#presentation {
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, #aaa, #ccc);

  #logo {
    border-radius: 50%;
    height: 150px;
    margin-right: 40px;
    margin-left: 20px;
    box-shadow: 0 0 12px 0 #eee;
  }

  #cv {
    button {
      width: 100%;
      margin: auto;
      margin-bottom: 10px;
      padding: 4px;
      font-size: 20px;
    }
  }
}

#presentation.dark {
  background: linear-gradient(to right, #444, #666);
  color: #eee;

  #cv {
    /*visibility: hidden;*/
  }
}

/* DLinks */
#dlinks .dlink {
  margin-left: 10px;
  padding-top: 1px;

  &:first-of-type {
    margin-left: 0;
  }
}

/* DLink */
.dlink {
  display: inline-flex;
  height: 26px;
  min-width: 150px;
  position: relative;
  background-color: #999;
  border-radius: 20px;
  color: white;
  font-weight: bold;

  img {
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
  }

  div {
    flex-grow: 1;
    padding-right: 10px;
    text-align: center;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid grey;
    border-radius: 20px;
  }

  &:hover {
    background-color: #eeeeee;
    color: black;
    cursor: pointer;
  }
}

/* Catégorie */
.categorie {
  margin-top: 18px;
  margin-bottom: 18px;
  padding-bottom: 12px;
  background-color: #99999920;

  .titre {
    /*background-color: #9999991f;*/
    background: linear-gradient(to right, #ccc, #ddd);
  }

  .row.content {
    padding-top: 6px;
  }
}

#bio {
  p:last-of-type {
    margin-bottom: 0;
  }
}

/* Compétences */
#competences {
  h4 {
    margin-top: 5px;
  }

  .description {
    font-weight: 900;
    /*color: darkslateblue;*/
    text-transform: uppercase;
  }
}

/* Formation */
#formation table {
  margin-bottom: 0;

  th {
    font-size: 1em;
  }

  td {
    font-size: 1em;
  }

  tr td:nth-of-type(1) {
    font-weight: bold;
  }
}

/* Centres intérêts */
#centresinterets {
  h5 {
    margin-top: 5px;
  }

  .ci-cat {
    margin-bottom: 15px;
  }
}
