h3 {
  margin-top: .5rem;
}

/* Présentation */
#presentation {
  padding-top: 10px;
  padding-bottom: 10px;
  /*background-color: #00000015;*/
  background: linear-gradient(to bottom, #aaa, #ccc);
  box-shadow: 0 4px 8px -4px grey;
  border-bottom: 4px solid red;
}

/* Logo */
#logo {
  border-radius: 50%;
  height: 150px;
  margin-right: 40px;
}

/* CV */
#cv button {
  width: 100%;
  margin: auto;
  padding: 4px;
  font-size: 24px;
  margin-bottom: 10px;
}

/* DLinks */
#dlinks .dlink {
  margin-left: 10px;

  &:first-of-type {
    margin-left: 0;
  }
}

/* DLink */
.dlink {
  display: inline-flex;
  height: 26px;
  min-width: 150px;
  position: relative;
  background-color: #999;
  border-radius: 20px;
  color: white;
  font-weight: bold;

  img {
    height: 26px;
    border-radius: 50%;
    margin-right: 5px;
  }

  div {
    flex-grow: 1;
    padding-right: 10px;
    text-align: center;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid grey;
    border-radius: 20px;
  }

  &:hover {
    background-color: #eeeeee;
    color: black;
    cursor: pointer;
  }
}

/* Catégorie */
.categorie {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #9999990f;

  .titre {
    /*background-color: #9999991f;*/
    background: linear-gradient(to right, #bbb, #ddd);
  }

  .row.content {
    padding-top: 6px;
  }
}

#bio {
  p:last-of-type {
    margin-bottom: 0;
  }
}

/* Compétences */
#competences {
  h4 {
    margin-top: 5px;
  }

  .description {
    font-weight: 900;
    color: darkslateblue;
    text-transform: uppercase;
  }
}

/* Formation */
#formation table {
  margin-bottom: 0;
}

/* Centres intérêts */
#centresinterets h5 {
  margin-top: 5px;
}
