h3 {
  margin-top: .5rem;
}

/* Présentation */
#presentation {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #00000015;
}

/* Logo */
#logo {
  border-radius: 50%;
  height: 150px;
  margin-right: 40px;
}

/* CV */
#cv a {
  width: 100%;
}

/* DLinks */
#dlinks .dlink {
  margin-left: 10px;
}
#dlinks .dlink:first-of-type {
  margin-left: 0;
}

/* DLink */
.dlink {
  display: inline-flex;
  height: 26px;
  min-width: 150px;
  position: relative;
  background-color: #999;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.dlink::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid grey;
  border-radius: 20px;
}
.dlink:hover {
  background-color: #eeeeee;
  color: black;
  cursor: pointer;
}
.dlink img {
  height: 26px;
  border-radius: 50%;
  margin-right: 5px;
}
.dlink div {
  flex-grow: 1;
  padding-right: 10px;
  text-align: center;
}

/* Catégorie */
.categorie {
  padding-top: 12px;
  padding-bottom: 12px;
}
.categorie .row.titre {
  background-color: #9999991f;
}
.categorie .row.content {
  background-color: #9999990f;
}

/* Compétences */
#competences h4 {
  margin-top: 5px;
}

/* Formation */
#formation table {
  margin-bottom: 0;
}
#formation table tr td:nth-child(1) {
  padding-left: 0;
  font-size: 1.3em;
}
#formation table tr td:nth-child(2) {
  font-size: 1.1em;
}
#formation table tr td:nth-child(3) {
  font-size: 1em;
}
#formation table tr td:nth-child(4) {
  font-size: 1em;
}

/* Centres intérêts */
#centresinterets h5 {
  margin-top: 5px;
}
