.search {
  padding-top: 20px;

  .md-form {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.wrapper {
  padding: 16px 0;
}

.experience {
  background-color: #ffffed;
  margin-bottom: 18px;

  .en-cours {
    background-color: coral;
    color: white;
  }

  .header {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #bbb1, #bbb2);

    .title {
      font-family: 'Cinzel', sans-serif;
      font-size: 28px;

      .type {
        font-family: 'Roboto', sans-serif;
        margin-left: 20px;
        background-color: goldenrod;
        color: white;
        font-size: 12px;
        border-radius: 14px;
        padding: 4px 15px;
        vertical-align: middle;
      }
    }

    .dates {
    }

    .technologies {
      font-weight: 900;
    }

    .icones-technologies {
      display: flex;
      justify-content: flex-end;

      img {
        margin: 4px;
        height: 40px;
      }
    }
  }

  .description {
    padding: 10px 20px 10px 20px;

    .images {
      img {
        width: 160px;
        height: 90px;
        margin: 0 8px;

        &:hover {
          cursor: zoom-in;
        }
      }
    }

    .liens {
      display: flex;
      justify-content: flex-end;
    }
  }
}
